.button_contact {
    width: 600px;
    height: 110px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 50px;
    margin-top: 15px;
    box-shadow: 10px 5px 5px var(--grey-800);
    background-color: var(--grey-500);
    padding: 10px;

    box-sizing: border-box;
    box-shadow: 10px 5px 5px var(--grey-800);
}

.button_contact:hover {
    cursor: not-allowed;
}