.popup-container__review-card {
    border: 5px solid rgb(166, 54, 14);
    box-shadow: 10px 5px 5px rgb(166, 54, 14);

    border-radius: 10px;
    padding: 15px;
    border: 5px solid var(--font-dark);
    box-shadow: 10px 5px 5px var(--font-dark);
    box-sizing: border-box;
    width: 1646px;




}