.button_header {
    width: 380px;
    height: 80px;
    background-color: var(--orange-500);
    border-radius: 5px;
    font-weight: 900;
    font-size: 35px;
    box-shadow: 10px 5px 5px var(--grey-800);
}

.button_header:hover {
    background-color: var(--orange-700);
}