.button_popup {
    width: 170px;
    height: 40px;
    background-color: transparent;
    font-weight: 700;
    font-size: 25px;

    color: var(--orange-700);
}

.button_popup:hover {

    opacity: 0.5;
}