.popup-container__image {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    object-fit: cover;
}

@media (max-width: 500px) {
    .popup-container__image {
        max-width: 240px;
        height: 299px;
    }
}