.container {
    font-family: "Gilroy-Light", sans-serif;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    scroll-behavior: smooth;



    background-color: rgb(107, 104, 104);
    background-color: rgb(77, 76, 76);
    background-color: #c8c8c8;
    background-color: rgb(185, 185, 185);
    background-color: rgb(176, 178, 177);


    --grey-300: rgb(176, 178, 177);
    --grey-400: #a5a3a1;
    --grey-500: grey;
    --grey-700: rgb(112, 112, 112);
    --grey-800: rgb(92, 92, 92);


    --beige-100: rgb(251, 239, 216);
    --beige-200: wheat;
    --beige-300: rgb(239, 199, 126);

    --orange-300: #e7a55e;
    --orange-500: rgb(239, 129, 70);
    --orange-700: rgb(238, 100, 26);

    --font-dark: #2c2c2c;
    --white: white;

    color: var(--font-dark);
}